research/code/course/PyTorch for Deep Learning and Computer Vision Course (All Codes)/CIFAR_10.ipynb
research/code/course/PyTorch for Deep Learning and Computer Vision Course (All Codes)/Convolutional Neural Networks.ipynb
research/code/course/PyTorch for Deep Learning and Computer Vision Course (All Codes)/Deep Neural Networks - MNIST.ipynb
research/code/course/PyTorch for Deep Learning and Computer Vision Course (All Codes)/Deep_Neural_Networks.ipynb
research/code/course/PyTorch for Deep Learning and Computer Vision Course (All Codes)/Linear_Regression.ipynb
research/code/course/PyTorch for Deep Learning and Computer Vision Course (All Codes)/Perceptron.ipynb
research/code/course/PyTorch for Deep Learning and Computer Vision Course (All Codes)/Style_Transfer.ipynb
research/code/course/PyTorch for Deep Learning and Computer Vision Course (All Codes)/Transfer_Learning.ipynb
research/code/course/PyTorch for Deep Learning and Computer Vision Course (All Codes)/.ipynb_checkpoints/Deep Neural Networks - MNIST-checkpoint.ipynb
research/code/course/PyTorch for Deep Learning and Computer Vision Course (All Codes)/.ipynb_checkpoints/Linear_Regression-checkpoint.ipynb
research/code/course/PyTorch for Deep Learning and Computer Vision Course (All Codes)/.ipynb_checkpoints/Perceptron-checkpoint.ipynb
research/code/course/PyTorch for Deep Learning and Computer Vision Course (All Codes)/exercise/perceptrons.ipynb
research/code/data
/data/img
/src/detector/cfg/yolov3.weights